@use "~/App.scss" as *;

.likeCommentContainer {
    border-radius: $border-radius;
    box-shadow: 1px 1px 6px 1px $color-border;
    padding: .4rem;
    width: 100%;

    .contents {
        padding: .4rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        .content {
            background-color: $color-content;
            flex-wrap: wrap;
            padding: .4rem;
            border-radius: $border-radius;
            margin: .2rem 0;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            width: 100%;

            .section {
                display: flex;
                flex-direction: row;
                margin: .2rem .8rem;
                flex-basis: 30%;
            }
        }
    }
}