// Row.module.scss
@use "~/App.scss" as *;

.tableRow {
    position: relative;

    &:hover {
        background-color: #f1f1f1;
    }

    &.active {
        background-color: #e0ffe0 !important;
    }

    &.checkpoint {
        background-color: $color-warning;
    }

    .tableCell {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .actionRow {
        width: 2rem;
        padding: 0.2rem;

        .actionButton {
            width: 100%;
            text-transform: capitalize;
            background-color: $color-success;
            border: none;
            box-shadow: none;
            padding: 0.6rem 1.6rem;
            border-radius: $border-radius;
            color: $color-white;
            cursor: pointer;

            &:hover {
                background-color: $color-success-hover;
                box-shadow: 1px 1px 4px 1px $color-border;
            }
        }

    }
}

.expandInfo {
    .expandContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .expandContent {
            display: flex;
            flex-wrap: wrap;

            .userInfo {
                flex-basis: 50%;
                box-sizing: border-box;
                padding: 0.2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                gap: 2rem;
                border-bottom: 1px solid rgba($color: #ccc, $alpha: .6);

                label {
                    display: inline-block;
                    white-space: nowrap;
                    min-width: 30%;
                    padding: 0 1rem;
                    text-transform: capitalize;
                }

                span {
                    font-weight: 600;
                    display: inline-block;
                }
            }
        }

        .expandActions {
            display: flex; // Sử dụng flexbox để bố trí các nút
            gap: 10px; // Khoảng cách giữa các nút
            padding: 20px; // Padding cho div

            .actionButton {
                text-transform: capitalize;
                border: none;
                box-shadow: none;
                padding: 0.6rem 1.6rem;
                border-radius: $border-radius;
                color: $color-white;
                transition: background-color 0.3s ease; // Hiệu ứng chuyển tiếp
                cursor: pointer; // Con trỏ chuột khi di chuột lên nút

                &:first-child {
                    background-color: $color-button-background;
                }

                &:first-child:hover {
                    background-color: $color-button-background-hover;
                }

                &:last-child {
                    background-color: $color-danger;
                }

                &:last-child:hover {
                    background-color: $color-danger-hover;
                }

            }
        }
    }

}