//  components/InputField.module.scss
.inputFieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    width: 100%;

    input {
        margin-left: 1rem;
        margin-right: .4rem;
        padding: 0.4rem .8rem;
    }

    .inputText {
        max-width: 3.6rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-right: 0.2rem;
        max-width: 100%;
    }

    .inputCheckbox {}

    .labelText {
        display: flex;
        font-size: 0.8rem;
        text-transform: capitalize;
    }
}